<i *ngIf="showImg==true" class="fa-solid fa-comment fa-2xl text-primary button1 mb-3" style="font-size: 3rem;"   (click)="activated()"></i>
<div *ngIf="show==true" class="chatbot-container" >
    <h3 (click)="deactivated()">Chat with us</h3>
    <div class="chatbot-history">
        <div *ngFor="let message of history.split('\n')">
            <div
                [ngClass]="{ 'user-question': message.indexOf('You:') === 0, 'chatbot-answer': message.indexOf('Chatbot:') === 0 }">
                {{ message.substr(message.indexOf(':') + 2) }}
            </div>
        </div>
    </div>
    <div class="chatbot-input">
        <input type="text" placeholder="Ask me something" #input>
        <button (click)="handleSubmit()">Submit</button>
    </div>
</div>