
<nav
id="sidebarMenu"
class="bg-white"
>
<div class="">
  <div class="menu">
    <a (click)="navigateToCourse()" routerLink="courses" routerLinkActive="active" class="menu-item" aria-current="true">
      <i class="fa-solid fa-book fa-fw me-3"></i>
      Courses
    </a>
    <a *ngIf="this.userService.loggedUserRole!='ADMIN'" routerLink="myCourses" (click)="navigateToMyCourse()" routerLinkActive="active" class="menu-item">
      <i class="fa-solid fa-book-open-reader fa-fw me-3"></i>
      My Courses
    </a>
    <a *ngIf="this.userService.loggedUserRole=='STUDENT'" routerLink="assessments" (click)="navigateToAssessments()" routerLinkActive="active" class="menu-item">
      <i class="fa-solid fa-check fa-fw me-3"></i>
      Assessments
    </a>
    <a routerLink="dashboard" (click)="navigateToDashboard()" routerLinkActive="active" class="menu-item">
      <i class="fa-solid fa-chart-simple fa-fw me-3"></i>
      Dashboard
    </a>
    <a *ngIf="this.userService.loggedUserRole!='ADMIN'" routerLink="/feedback" routerLinkActive="active" class="menu-item">
      <i class="fa-solid fa-comment me-4"></i>
      Feedback
    </a>
    <a routerLink="/issue" routerLinkActive="active" class="menu-item">
      <i class="fa-solid fa-triangle-exclamation me-4"></i>
      Report Issues
    </a>
  </div>
</div>
</nav>